{{define "title"}}{{ t "Diary" }}{{end}}

{{define "extra-head"}}
<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/diary.css">
{{end}}

{{define "content"}}

<div class="div-container">
    <div class="div-container">
        <input type="file" id="import-file" accept=".xlsx" style="display:none;">
        <button id="btn-import" class="btn btn-info btn-sm">{{ t "Import" }}</button>
        <button id="btn-export" class="btn btn-warning btn-sm">{{ t "Export" }}</button>
    </div>
    <div class="ms-auto div-container">
    </div>
</div>

<div class="div-container">
    <div class="div-container">
        <button id="btn-daily" class="btn btn-primary btn-sm">{{ t "Daily" }}</button>
        <button id="btn-monthly" class="btn btn-primary btn-sm">{{ t "Monthly"}}</button>
    </div>
    <div class="div-container">
        <input type="date" id="date-picker" class="form-control form-control-sm d-inline-block date-picker">
        <input type="text" id="le-weather" class="form-control form-control-sm d-inline-block line-input" placeholder="{{ t "Weather" }}">
        <input type="text" id="le-location" class="form-control form-control-sm d-inline-block line-input" placeholder="{{ t "Location" }}">
    </div>
</div>

<table id="diary-table" class="table table-bordered table-sm text-center">
    <thead><tr id="tw-header"></tr></thead>
    <tbody></tbody>
</table>

{{end}}

{{define "extra-scripts"}}
<script src="/static/js/imp/solarlunar.js"></script>
<script src="/static/js/diary.js"></script>
{{end}}
