.table-container th,
.table-container td {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-overflow: unset;
}

.td-content {
    white-space: pre-wrap; /* 保留空格和换行 */
}
